<h1 class=" text-center">
    Angular Select Dropdown
</h1>


<select [(ngModel)]="chartsTypeSelection" (ngModelChange)="getChartName($event)" id="select1" class="custom-select col-md-3 " style="margin-left: 330px; ">
    <option>Select</option>
    <option *ngFor="let item of chartList;let i=index " [ngValue]="item" >
        {{item.chartName}}
    </option>
</select>

<select id="select2" [(ngModel)]="chartsQuerySelection" (ngModelChange)="getReportData($event)" class="custom-select col-md-3 " style="margin-left: 10px; ">
    <option>Select</option>
    <option  *ngFor="let item of reportData;let i=index " [ngValue]="item" >
        {{item.dataType}}
    </option>
</select>

<button style="margin-left: 10px;" class="btn btn-dark" (click)="storeData()" value="Add Report">Add Report</button>


<div *ngFor="let item of configdata; let i=index;">
    <input type="checkbox" [checked]="selectedGraph()" name="checkeddata" value={{configdata[i].id}} id="checkBox{{i}}" (change)="onCheckboxChange(item,$event) " /> {{configdata[i].title}}
</div>

<table>
    <tr *ngFor="let graphdata of selectedGraphs ">
        <app-graph-component [graphdata]="graphdata"></app-graph-component>
    </tr>
</table>