<h1 class=" text-center">
    Angular Select Dropdown
</h1>


<select id="select1" (change)="getChartName()" class="custom-select col-md-3 " style="margin-left: 330px; ">
    <option>Select</option>
    <option *ngFor="let item of chartList;let i=index " value="{{item.name}} " [selected]="i==0 ">
        {{item.name}}
    </option>
</select>

<select id="select2" (change)="getReportData()" class="custom-select col-md-3 " style="margin-left: 10px; ">
    <option>Select</option>
    <option  *ngFor="let item of reportList;let i=index " value="{{item.name}} " [selected]="i==0 ">
        {{item.name}}
    </option>
</select>
<input style="margin-left: 10px;" type="button" class="btn btn-dark" (click)="addReport()" value="Add Report" />
<div *ngFor="let item of configdata; let i=index; ">
    <input type="checkbox" (change)="onCheckboxChange(item,$event) " /> {{configdata[i].title}}
</div>

<table>
    <tr *ngFor="let graphdata of selectedGraphs">
        <app-graph-component [graphdata]="graphdata "></app-graph-component>
    </tr>
</table>