<h1 class=" text-center">
    Angular Select Dropdown
</h1>


<select (change)="getChartName($event.target.value)" id="select1" class="custom-select col-md-3 " style="margin-left: 330px; ">
    <option>Select</option>
    <option *ngFor="let item of chartList;let i=index " value="{{item.chartName}}" >
        {{item.chartName}}
    </option>
</select>

<select id="select2" (change)="getReportData($event.target.value)" class="custom-select col-md-3 " style="margin-left: 10px; ">
    <option>Select</option>
    <option  *ngFor="let item of reportData;let i=index " value="{{item.dataType}}" >
        {{item.dataType}}
    </option>
</select>

<input style="margin-left: 10px;" type="button" class="btn btn-dark" (click)="storeData()" value="Add Report" />

<div *ngFor="let item of configdata; let i=index;">
    <input type="checkbox" [checked]="" autocomplete="off" (change)="onCheckboxChange(item,$event) " /> {{configdata[i].title}}
</div>

<table>
    <tr *ngFor="let graphdata of selectedGraphs ">
        <app-graph-component [graphdata]="graphdata"></app-graph-component>
    </tr>
</table>